@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

* {
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

section {
    width: 95%;
    margin-top: 1%;
}

.fDFkyX {
    fill: #fff;
}

.dosCbl {
    fill: #9147ff;
}

.jdpzyl {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.jdpzyl > * {
    margin-right: 1rem;
}

.jdpzyl > *:last-child {
    margin-right: 0;
}

.fnsfLT {
    height: 100% !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    display: flex !important;
}

.cQZlhV {
    flex-wrap: nowrap !important;
    display: flex !important;
}

.bfqNgN {
    padding-left: 0.5rem !important;
    position: relative !important;
    display: flex !important;
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    -webkit-box-align: stretch !important;
    align-items: stretch !important;
    height: 100% !important;
}

.hatIYF {
    /*display: inline-block !important;*/
    position: relative !important;
}

.eSFFfM {
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    border-radius: 0.4rem;
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    color: #0e0e10;
}

.fjwcvR {
    pointer-events: none;
    width: 2rem;
    height: 2rem;
}

.bCFHWE {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: currentColor;

}

.kpdiXD {
    display: flex !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    margin-top: 0.3125rem !important;
    margin-bottom: 0.3125rem !important;
    padding-top: 0.3125rem !important;
    top: 0px;
    right: 0px;
    padding-bottom: 0.3125rem !important;

    width: 3rem;
}
.collapse-toggle{
    width: 3rem;
}
.flip-horizontal{
    transform: scaleX(-1);
}
.gazthU {
    display: flex !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    -webkit-box-flex: 0 !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    z-index: 1 !important;
}

.eSFFfM {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    border-radius: 0.4rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    color: #0e0e10;
}

.cASLMj {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.doeqbO {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*.jpczqG {*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    width: 100%;*/
/*    min-height: 100%;*/
/*    top: 0px;*/
/*}*/
/*.bIDIFh {*/
/*    padding-bottom: 100%;*/
/*}*/
.jxGBqp {
    -webkit-box-pack: justify;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
}

.dcyYPL {
    display: flex !important;
    flex-direction: column !important;
}

.kBtJDm {
    display: inline-flex !important;
}

.kYEeAt {
    color: #53535f !important;
    display: flex !important;
    flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    padding-top: 0.3125rem !important;
    padding-bottom: 0.3125rem !important;
}

.caxXaW {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    fill: var(--color-fill-current);
}

.hGaUsM {
    transition-delay: 0ms;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-property: none;
    opacity: 1;
    transform: scale(1);
}

.cwtKyw {
    position: relative !important;
}

/*.eFqEFL {*/
/*    text-decoration: none;*/
/*    color: #5c16c5;*/
/*}*/

.ejKUaQ {
    padding: 0.5rem 1rem !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}
.bgXDR {
    flex-shrink: 0 !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.dmnDPS {
    position: relative;
    background-color: inherit;
    max-height: 100%;
    width: 2rem;
    height: 2rem;
}
.cXFDOs {
    display: block !important;
    border-radius: 9000px !important;
    width: 100% !important;
}
.hGaUsM {
    transition-delay: 0ms;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-property: none;
    opacity: 1;
    transform: scale(1);
}
.cwtKyw {
    position: relative !important;
}
.eBmhqT {
    text-decoration: none;
    color: #5c16c5;
}
.bgXDR {
    flex-shrink: 0 !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.kGmdlm {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-pack: justify;
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
}
.eza-dez {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0.5rem !important;
    width: 100% !important;
}
.xxjeD {
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.fdYGpZ {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600 !important;
    color: #1f1f23 !important;
    font-size: 0.4rem !important;
    line-height: 1 !important;
}
.HcPqQ {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
}
.bYeGkU {
    padding-right: 0.5rem !important;
}
.fCKtYt {
    flex-shrink: 0 !important;
    margin-left: 0.5rem !important;
}
.xxjeD {
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.loVMKa {
    background-color: #eb0400;
    border-radius: 9000px;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    position: relative;
}
.jOVwMQ {
    margin-left: 0.5rem !important;
}
.ivecvv {
    padding: 0.25rem 0.5rem !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    width: 100% !important;
}
.side-nav-card__live-status {
    min-width: 2rem;
}
.side-nav-card__link {
    height: 3rem;
}
.eUABfN {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #53535f !important;
    font-size: 0.8rem !important;
    line-height: 1 !important;
}